
.list {
    padding: 0;
    text-decoration: none;
    background-color: white;
    color:#242424;
    display: grid;
    width: 100%;
}

.listItems {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: end;
    align-items: center;
    justify-items: space-around;
}

.listItems:hover {
    text-decoration: none;
    background-color: #BEEBE1;
    transform: scale(1.01);
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.listItemLabels {
    padding: 1em;
    display: flex;
    justify-content: center;
}
